.button {
	background: none;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-family: @font-family;
	font-size: 15px;


	&-filter {
		color: @primary-color;
		border: 1px solid @primary-color;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		height: 30px;
		line-height: 30px;
		padding: 0 8px;
		position: absolute;
		top: 7px;
		right: 8px; 

		& .icon {
			vertical-align: middle;
		}

		&:hover{
			color: #000;
			background-color: @primary-color;
		}
	}

	&-close {
		color: #fff;
		position: absolute;
		top: 12px;
		left: 8px;
	}

	& .icon {
		font-size: 20px;
	}


}