.city-select {
	background-color: @secondary-grey;
	font-family: @font-family;
	position: fixed;
	bottom: @tab-bar-height + 27px;
	left: 0;
	right: 0;
	top: @title-bar-height;
	z-index: 4;
	-webkit-tranform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	-webkit-transition: -webkit-transform .5s ease-in-out; /* Safari */
	transition: transform .5s ease-in-out;
	overflow: hidden;
	
	&.is-up{
		transform: translate3d(0, 0, 0);
		top: @title-bar-height;
		bottom: @tab-bar-height;
	}
	

	&-header {
		font-size: 14px;
		font-weight: 400;
		color: @inactive-color;
		margin: 0;
		padding: 8px 0 8px 15px;
	}
	
	&-toggle {
		color: @primary-grey;
		background-color: @primary-color;
		border-bottom: 1px solid @tertiary-grey;
		line-height: 24px;
		font-size: 13px;
		text-align: center;
		font-weight: 500;

		&:after {
			font-family: @icon-font-family;
			content: "\e60a";
			display: inline-block;
			font-size: 13px;
			vertical-align: middle;
			-ms-transform: rotate(90deg); /* IE 9 */
			-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			transform: rotate(90deg);
		}
		
		.is-up &:after {
			-ms-transform: rotate(270deg); /* IE 9 */
			-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
			transform: rotate(270deg);
		}
	}

	.city-list-scroll-wrap {
		position: absolute;
		top: 59px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.city-list {
		width: 100%;
		padding: 0 0 0 15px;
		margin: 0;
		list-style: none;
		background-color: @secondary-grey;
		color: #fff;
		font-size: 16px;
		box-sizing: border-box;

		&-item {
			box-sizing: border-box;
			padding: 12px 15px 12px 0;
			border-bottom: 1px solid @tertiary-grey;

			&:after {
				content: "\e60a";
				font-family: @icon-font-family;
				display: block;
				float: right;
				font-size: 16px;
				-ms-transform: rotate(180deg); /* IE 9 */
				-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
				transform: rotate(180deg);
			}
		}

	}

}